@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #231F20;
  --secondary-color: #BB4430;
  --ternary-color: #7EBDC2;
  --cuaternary-color: #F3DFA2;
  --quinary-color: #EFE6DD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--primary-color));
}

h1 {
  font-size: 25px;
  font-weight: bold;
}